/backend/node_modules
/frontend/node_modules
.DS_Store
/backend/.env
/frontend/.env
/backend/dist
/frontend/dist
/frontend/public/assets/*
/backend/logs

/frontend/logs

/logs
*.log
/build
/dist
.vscode
/.env
.env
/backend/package-lock.json
/frontend/package-lock.json

/generated/prisma

/generated/prisma
backend/UNUSED_FILES.md
backend/WORKFLOW.md
backend/Readme.md
/API_DOC.md
/backend/nodemon.json
/backend/data
/.github/copilot-instructions.md

/backend/modules/.temp_pages/*