PORT=3026
DATABASE_URL="mysql://repdbusr:UlqXCwEfr4I6fqnOj96J@localhost:3306/repdtb"

NODE_ENV=production

# Ringless Voicemail Scheduler
CRON_SCHEDULE=0 2 * * *
ENABLE_SCHEDULER=true              # Enable DropCowboy synchronization jobs
ENCRYPTION_KEY=345ef79d6472b91131073512437614a57790cfce392ba71c4fd93eef27a57043
MAUTIC_SYNC_SCHEDULE=0 3 * * *
ENABLE_MAUTIC_SCHEDULER=true       # Enable Mautic synchronization jobs 


JWT_SECRET=ad1e5a2359fae1543f5a080deaf2c9fca211702b277a089ef5f3fe762852cff1


# Frontend URL (for email links)
FRONTEND_URL=https://dev.hcddev.com/
